<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="footer" th:remove="tag">
    <div class="row footer">
        <div class="inner">
            <ul class="footer-nav">
                <li class="footer-nav-list">
                    <span class="list-title">数据服务</span>
                    <ul class="list-ul">
                        <li class="list-item"><a href="">医疗大数据</a></li>
                        <li class="list-item"><a href="">健康大数据</a></li>
                        <li class="list-item"><a href="">生物大数据</a></li>
                        <li class="list-item"><a href="">运营大数据</a></li>
                    </ul>
                </li>
                <li class="footer-nav-list">
                    <span class="list-title">数据标准</span>
                    <ul class="list-ul">
                        <li class="list-item"><a href="">数据分类</a></li>
                        <li class="list-item"><a href="">元数据</a></li>
                        <li class="list-item"><a href="">数据字典</a></li>
                        <li class="list-item"><a href="">自定义数据集</a></li>
                    </ul>
                </li>
                <li class="footer-nav-list">
                    <span class="list-title">政声传递</span>
                    <ul class="list-ul">
                        <li class="list-item"><a href="">国家政策导引</a></li>
                        <li class="list-item"><a href="">行业标准查询</a></li>
                        <li class="list-item"><a href="">行业新闻动态</a></li>
                    </ul>
                </li>
            </ul>
            <p class="copy">&copy; 2018 中电数据服务有限公司 京ICP证0301789号-1</p>
        </div>
    </div>
</div>
</body>
</html>