<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="common/hosData/base"><!-- layout文件路径-->
<head>
    <title>页面1</title>
</head>
<body>
<div layout:fragment="table-select" th:remove="tag">
    <div th:replace="common/hosData/tableSelect::hosMZ"></div>
</div>
<div layout:fragment="subNav" th:remove="tag">
    <div th:replace="common/hosData/subNav::hosMZ"></div>
</div>
<div layout:fragment="echart-content">
    <div class="echart-box" id="avgFeeByPeople"></div>
    <div class="echart-box" id="MedicineProportion"></div>
    <div class="echart-box" id="ConsumablesProportion"></div>
    <div class="echart-box" id="CheckFeeProportion"></div>
    <div class="echart-box" id="LaboratoryFeeProportion"></div>
</div>
<div layout:fragment="table-content">
    aaaaaa
</div>


<div layout:fragment="script-content" th:remove="tag">
    <script th:src="${urls.getForLookupPath('/js/hosData/hosMZ/feectrl.js')}"></script>
</div>
</body>
</html>