
.inner {
    width: 1200px;
    margin: 0 auto;
}


.route-nav {
    margin-top: 30px;
}
.route-nav .breadcrumb {
    background: none;
    padding: 0;
}

.cecd-medical-data .main-content {
    margin-bottom: 50px;
}
.cecd-medical-data .main-content .nav-sidebar {
    float: left;
    margin-right: 20px;
}
.cecd-medical-data .main-content .nav-sidebar .nav-item {
    margin-bottom: 15px;
    background-color: #ddd;
    width: 160px;
    padding: 15px 0;
    cursor: pointer;
    text-align: center;
}
.cecd-medical-data .main-content .nav-sidebar .nav-item>a {
    color: #333;
}
.cecd-medical-data .main-content .nav-sidebar .nav-item>a:hover {
    color: #333;
    text-decoration: none;
}
.cecd-medical-data .main-content .nav-sidebar .active {
    background-color: #4a83f8;
}
.cecd-medical-data .main-content .nav-sidebar .active>a {
    color: #fff;
}
.cecd-medical-data .main-content .nav-sidebar .active>a:hover {
    color: #fff;
    text-decoration: none;
}
.cecd-medical-data .main-content .data-show {
    float: left;
    width: calc(1200px - 160px - 20px);
}
.cecd-medical-data .main-content .data-show .data-show-top {
    overflow: auto;
    background-color: #ddd;
    padding: 15px 10px;
    margin-bottom: 15px;
}
.cecd-medical-data .main-content .data-show .data-show-top .top-title {
    float: left;
    font-size: 16px;
    font-weight: 900;
}
.cecd-medical-data .main-content .data-show .data-show-top .table-echart {
    float: right;
    margin: 0;
}
.cecd-medical-data .main-content .data-show .data-show-top .table-echart > li {
    float: left;
    margin-left: 10px;
    font-size: 16px;
    cursor: pointer;
}
.cecd-medical-data .main-content .data-show .data-show-top .table-echart .active > i {
    color: #4a83f8;
}
.cecd-medical-data .main-content .data-show .introduction {
    outline: 1px solid #ccc;
    overflow: auto;
}
.cecd-medical-data .main-content .data-show .introduction .icon {
    float: left;
    background-color: #f9f9f9;
    font-size: 80px;
    text-align: center;
    width: 160px;
    height: 196px;
    position: relative;
    padding-top: 36px;
}
.cecd-medical-data .main-content .data-show .introduction .text {
    float: left;
    padding: 15px 30px;
    width: calc(1200px - 160px - 20px - 160px);
}
.cecd-medical-data .main-content .data-show .introduction .text .text-title {
    font-size: 18px;
    font-weight: 900;
    margin-bottom: 15px;
    margin-top: 6px;
}
.cecd-medical-data .main-content .data-show .introduction .text .text-ul > li {
    float: left;
    width: 50%;
    margin-bottom: 10px;
}
.cecd-medical-data .main-content .data-show .echart-box {
    width: 100%;
    height: 280px;
    outline: 1px solid #ccc;
    padding: 15px;
    margin-top: 20px;
}
.cecd-medical-data .main-content .data-show .form-box {
    border: 1px solid #ccc;
    padding: 20px;
}
.cecd-medical-data .main-content .data-show .form-box div.form-group {
    margin-right: 15px;
    margin-bottom: 15px;
}
.cecd-medical-data .main-content .data-show .form-box div.form-group select.form-control, .cecd-medical-data .main-content .data-show .form-box div.form-group input.form-control {
    width: 245px;
    border-radius: 4px;
}
.cecd-medical-data .main-content .data-show .form-box .submit-btn {
    display: block;
    background-color: #4a83f8;
    border: none;
    color: #fff;
    padding: 6px 16px;
}
