<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="leftNav" th:remove="tag">
    <ul class="nav-sidebar">
        <li th:class="${page=='hosMetadata'}?'nav-item active':'nav-item'"><a th:href="@{/dataStand/hosMetadata}" name="data-show-resource">医院数据集</a></li>
        <li th:class="${page=='regionMetadata'}?'nav-item active':'nav-item'"><a href="javasctipt:;" name="data-show-relevance">区域数据集</a></li>
        <li th:class="${page=='ecologyMetadata'}?'nav-item active':'nav-item'"><a href="javasctipt:;" name="data-show-statistics">生态数据集</a></li>
    </ul>
</div>
</body>
</html>