<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="common/dataServ/base"><!-- layout文件路径-->
<head>
    <title>数据服务</title>
</head>
<body>

<div layout:fragment="data-content">
    <div class="data-show-top">
        <p class="top-title">关联元数据</p>
    </div>
    <div class="data-show-module" id="data-table">
        <table id="related_table" data-toggle="table" data-pagination="true"></table>
    </div>
</div>


<div layout:fragment="script-content" th:remove="tag">
    <script th:src="${urls.getForLookupPath('/js/dataServ/hos-drstable.js')}"></script>
    <script th:inline="javascript">
        showTable('related_table','/api/selectEcologicalDataset.json',getEcologicalTableColumns());
    </script>
</div>
</body>
</html>