<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cecdat.np.mapper.DataResourceBaseInfoMapper">

    <!-- 开启二级缓存 -->
    <!--<cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>-->

    <select id="getResourceData" resultType="java.util.HashMap">
        select data_name as dName ,medical_institutions_num as mdNum,hospital_system_name as sysName,data_count as dCount from st_data_resource_base_information where serial_number = '001'
    </select>

</mapper>
